@import '../../styles/variables.scss';

.form-component {
    // display: flex;
    // flex-direction: column;
    // width: 40%;

        .errorMsg {
            background-color: $open-color;
            color: white;
            padding: 10px;
            text-align: center;
            width: 100%;
            max-width: 400px;
        }
        .successMsg {
            background-color: $completed-color;
            color: white;
            padding: 10px;
            text-align: center;
            width: 100%;
            max-width: 400px;
          }
        .form-new-task {
            font-family: $body-font;
        }

        .details {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            width: 100%;
            max-width: 420px;

            label {
                display: flex;
                flex-direction: column;

                &.form-description {
                    width: 100%;
                    max-width: 400px;
                    
                }
                input {
                    width: 100%;
                    padding: 0.5rem;
                }
            }
        }

        .form-description,
        .form-status,
        .form-add-button {
            flex: 1;
            margin-bottom: 7px;
            font-family: $body-font;
        }

        .form-add-button {
            width: 10%;
            background-color: $background-color;
            border: none;
            margin-top: 20px;
            padding: 0;
            display: flex;
            justify-content: flex-end;
            svg {
                font-size: 50px;
                margin-bottom: 10px;
                color: $primary-color;
            }
            svg:hover {
                color: $secondary-color;
            }
            @include breakpoint(200px) {
                align-self: flex-start;
            }
            @include smallBreakpoint {
                align-self: flex-end;
            }
        }

}