$title-font: 'Philosopher', sans-serif;
$body-font: 'Francois One', sans-serif;

$primary-color: rgb(40, 219, 40);
$secondary-color: red;
$text-color: rgb(114, 18, 106);
$task-background:rgb(157, 241, 157);
$background-color: white;
$border-color: yellow;
$completed-color: darkgreen;
$open-color: darkred; 

@mixin breakpoint($min-width) {
    @media only screen and (min-width: $min-width) {
        @content;
    }
}

@mixin smallBreakpoint {
    @include breakpoint(700px) {
        @content;
    }
}
@mixin largeBreakpoint {
    @include breakpoint(1200px) {
        @content;
    }
}
